* {
  margin: 0;
  padding: 0;
}

// color palette
$primary: #455a77;
$secondary: #F25C68;
$primary-darker: #9a4046;

$black-100: darken($primary, 50%);
$black-75: darken($primary, 30%);
$black-50: darken($primary, 10%);
$black-25: lighten($primary, 10%);
$black-10: lighten($primary, 30%);
$black-5: lighten($primary, 50%);

$background-color: #192028;

$darkest-blue: #1F2835;
$dark-blue: #232E3D;
//$mid-blue: #5A759B;
$mid-blue: #465B79;
$light-blue: #6D8EBD;
$lightest-blue: #81A8DF;

$white: #98b5de;

@import "text";

body {
  width: 70%;
  margin: auto;
  background-color: $background-color;
  color: $black-5;
}

ul {
  font-size: 16px;
  font-family: "Roboto Light", Arial, sans-serif;
}

ul {
  list-style-type: none;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 40px;
  background-color: #465B79;
  color: $black-75;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  padding: 0 8px 0 8px;
}

.forums-background {
  background-color: $darkest-blue;
  width: 100%;
}

.banner {
  background: no-repeat 90% 80%/500px url("/spring.png"), radial-gradient(circle 25rem at 70% 90%, $secondary, transparent);
  height: 500px;
  //margin-top: 16px;
  font-family: Jemina, serif;
  //font-size: 9rem;
  color: $secondary;
  position: relative;
  text-align: center;
  text-shadow: $black-100 2px 2px 5px;
}

.quick-links {
  text-align: right;
  font-size: 20px;
  font-family: Rasputin, serif;
  line-height: 1.8rem;
  color: $lightest-blue;
}

.quick-links-layout {
  border-top: $black-10 solid 2px;
  border-bottom: $black-10 solid 2px;
  width: 250px;
  padding: 10px 25px;
}

#guidebook {
  color: $secondary;
}

#banner-title {
  position: absolute;
  top: 9%;
  left: 150px;
}

#quick-links-position {
  position: absolute;
  top: 36%;
  left: 250px;
}

#tagline {
  position: absolute;
  bottom: 9%;
  left: 90px;
  font-family: Rasputin, serif;
  font-size: 1.7rem;
  font-style: italic;
}

%header-info-styling {
  background-color: $dark-blue;
  margin-bottom: 16px;
  padding: 16px;
}

.nav-left {
  width: 200px;
  display: flex;
  justify-content: space-around;
}

.nav-right {
  width: 200px;
  display: flex;
  justify-content: space-around;
}

.two-column {
  display: flex;
  justify-content: space-evenly;
}

.two-rows {
  flex-flow: column;
}

.header-info {
  width: 50%;
  margin: 10px;
  color: $black-75;
}

.header-background {
  background-color: $mid-blue;
  margin-bottom: 10px;
  border-radius: 0 0 8px 8px;
}

.welcome {
  padding: 8px 15px 8px 15px;
  text-align: justify;
  border-right: $dark-blue solid 2px;
}

#welcome-back {
  font-family: Rasputin, serif;
  font-weight: bold;
  text-transform: uppercase;
}

.latest-news {
  padding: 8px 15px 8px 15px;

  li {
    padding-bottom: 8px;
  }
}

#older-news {
  color: $dark-blue;
}

.news-date {
  font-family: Rasputin, serif;
}

#guidebook {
  //color: $secondary;
  font-weight: bold;
}

.forum-nav {
  @extend %header-info-styling;
  //background-color: $mid-blue;
  margin-bottom: 0;
  border-radius: 8px 8px 0 0;
  font-family: Rasputin, serif;
  font-size: 24px;
}

.forum-title {
  //background-image: url("/floral-bg.jpg");
  //background-size: 30%;
  background-color: $primary;
  //background-blend-mode: soft-light;
  color: $black-100;
  text-shadow: darken($primary, 50%) 2px 2px 5px;
  //padding-left: 16px;
  height: 70px;
  text-align: center;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sub-forum-title {
  background-color: $dark-blue;
  margin: 5px;
  padding: 24px;
  //border: medium dotted $black-50;

  h4 {
    color: $lightest-blue;
  }

  h5 {
    color: $light-blue;
  }
}

.handbook-forum {
  width: 60%;
  text-shadow: $primary 1px 1px 5px;
}

.news-archives {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.row-items{
  flex-grow: 1;
}

.subregions {
  display: flex;
  justify-content: center;
}

.subregion-buttons {
  border: none;
}

.sub-board-layout {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.sub-board-names {
  color: $lightest-blue;
  font-family: Rasputin, serif;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: bold;
  border: solid 1px;
  display: inline;
  padding: 8px;
  margin: 4px;
}

.roster {

}