//@use "colors";

@font-face {
  font-family: Rasputin;
  src: url(https://files.jcink.net/uploads2/astonish/fonts/RasputinRegular.woff);
}

@font-face {
  font-family: Jemina;
  src: url(https://files.jcink.net/uploads2/astonish/fonts/jemina/Jemina_Regular.woff);
}

@font-face {
  font-family: Pixel;
  src: url(https://files.jcink.net/uploads2/astonish/fonts/pokemon_pixel_font.woff);
}

///* Rasputin Regular */
//@font-face {
//  font-family: "Rasputin";
//  src: url('/fonts/RasputinRegular.woff');
//  font-weight: normal;
//  font-style: normal;
//}
//
///* Rasputin Bold */
//@font-face {
//  font-family: "Rasputin";
//  src: url('/fonts/RasputinBold.woff');
//  font-weight: bold;
//  font-style: normal;
//}
//
///* Rasputin Light (Italic?) */
//@font-face {
//  font-family: "Rasputin";
//  src: url('/fonts/RasputinLight.woff');
//  font-weight: normal;
//  font-style: auto;
//}

/* Jemina */

//@font-face {
//  font-family: "Jemina";
//  src: url('/fonts/Jemina_Regular.woff2');
//  font-weight: auto;
//  font-style: auto;
//}
//
///* Fleur de Leah */
//@font-face {
//  font-family: "Fleur de Leah";
//  src: url('/fonts/FleurDeLeah-Regular.ttf');
//}

h1 {
  font-family: Jemina, serif;
  //font-size: 120px;
  font-size: 5.5rem;
  line-height: 8rem;
  text-transform: uppercase;
}

h2 {
  font-family: Rasputin, serif;
  //font-size: 68px;
  font-size: 2rem;
  text-decoration: underline 1px;
}

h3 {
  font-family: Rasputin, serif;
  //font-size: 50px;
  font-size: 1.5rem;
  text-decoration: underline 1px;
}

h4 {
  font-family: Rasputin, serif;
  //font-size: 38px;
  font-size: 0.9rem;
  text-decoration: underline 1px;
}

h5 {
  font-family: Rasputin, serif;
  //font-size: 28px;
  font-size: 0.9rem;
}

h6 {
  font-family: Rasputin, serif;
  font-size: 2rem;
  text-decoration: underline 1px;
}

h7 {
  font-family: Rasputin, serif;
  font-size: 1.75rem;
  display: block;
  margin-top: 8px;
}

h8 {
  font-family: Rasputin, serif;
  text-transform: uppercase;
  text-decoration: underline;
  display: block;
}

p {
  font-family: "Roboto Condensed Light", sans-serif;
  font-size: 16px;
  line-height: 1.3rem;
  margin: 10px 0;
}