@font-face {
  font-family: Rasputin;
  src: url(https://files.jcink.net/uploads2/astonish/fonts/RasputinRegular.woff);
}

@font-face {
  font-family: Jemina;
  src: url(https://files.jcink.net/uploads2/astonish/fonts/jemina/Jemina_Regular.woff);
}

@font-face {
  font-family: Pixel;
  src: url(https://files.jcink.net/uploads2/astonish/fonts/pokemon_pixel_font.woff);
}

h1 {
  font-family: Jemina, serif;
  font-size: 5.5rem;
  line-height: 8rem;
  text-transform: uppercase;
}

h2 {
  font-family: Rasputin, serif;
  font-size: 2rem;
  text-decoration: underline 1px;
}

h3 {
  font-family: Rasputin, serif;
  font-size: 1.5rem;
  text-decoration: underline 1px;
}

h4 {
  font-family: Rasputin, serif;
  font-size: 0.9rem;
  text-decoration: underline 1px;
}

h5 {
  font-family: Rasputin, serif;
  font-size: 0.9rem;
}

h6 {
  font-family: Rasputin, serif;
  font-size: 2rem;
  text-decoration: underline 1px;
}

h7 {
  font-family: Rasputin, serif;
  font-size: 1.75rem;
  display: block;
  margin-top: 8px;
}

h8 {
  font-family: Rasputin, serif;
  text-transform: uppercase;
  text-decoration: underline;
  display: block;
}

p {
  font-family: "Roboto Condensed Light", sans-serif;
  font-size: 16px;
  line-height: 1.3rem;
  margin: 10px 0;
}