@use "colors";

/* Styling for individual topics' page & topic option buttons above & below posts. */
.topic-buttons-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 16px;
  background-color: var(--palette3);

  /* Hide "Pages" text & number, leaving only links for pages. */
  .pagination_pagetxt {
    display: none;
  }

  .pagination_page {
    font-family: Rasputin, serif;
    background-color: var(--palette2);
    border: var(--palette2) 2px solid;
    color: var(--palette4);
    width: 16px;
    padding: 4px;
    text-align: center;
  }

  .pagination_current {
    background-color: var(--palette3);
    border: var(--palette2) 2px solid;
    color: var(--palette2);
    padding: 4px;
  }

  .button-large {
    border: none;
    background-color: var(--palette2);
  }

  .goto-firstunread {
    color: var(--palette4);

    a {
      color: var(--palette4);
    }
  }

  td {
    display: flex;
    gap: 8px;
  }
}

.topic-buttons-layout {
  display: flex;
  justify-content: flex-end;
  align-self: flex-end;
  gap: 8px;
}

.topic-header {
  margin: 16px;
}

.topic-layout {
  display: flex;
  flex-wrap: wrap;
  margin: 16px;
  gap: 8px;
}

/* Styling for buttons for topics list pages. */
tr:has(.pagination) {
  background-color: var(--palette3);
  padding: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  td {
    display: flex;
    gap: 8px;
  }

  .pagination_pagetxt {
    display: none;
  }

  .pagination_page {
    font-family: Rasputin, serif;
    background-color: var(--palette2);
    border: var(--palette2) 2px solid;
    color: var(--palette4);
    width: 16px;
    padding: 4px;
    text-align: center;
  }

  .pagination_current {
    background-color: var(--palette3);
    border: var(--palette2) 2px solid;
    color: var(--palette2);
    padding: 4px;
  }

  .button-large {
    border: none;
    background-color: var(--palette2);
  }
}

/* Styling for topics displayed in topics list. */
div[id*="topic-"]:not(#topic-options) {
  background-color: var(--palette2);
  width: calc(50% - 36px);
  padding: 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 8px;

  img {
    width: 100px;
  }
}

.topic-title-pages {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .topic-row-title {
    font-size: 24px;
  }
}

.last-poster-row {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;

  img {
    box-shadow: 4px 4px var(--secondary);
  }
}

.first-last-posters {
  display: flex;
  flex-direction: column;
  gap: 4px;

  .topic-first-last-posts {
    font-family: Rasputin, serif;
  }

  a {
    font-family: Rasputin, serif;
    color: var(--palette4);
  }
}

/* Hide open/hot topic jcink stuff */
.wrapmini {
  display: none;
}