@use "colors";
@use "text";
//@use "postrow";
//@use "mainprof";
@use "forums";
@use "topics";
@use "memberlist";
//@use "guidebook";
@use "boardstats";

* {
  margin: 0;
  padding: 0;
}

// Hide BOARD HEADER stuff
#userlinks, #submenu, #logostrip, .roster-quicklinks, .capital-desc #important-pinned {
  display: none;
}

body {
  width: 1150px;
  margin: auto;
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: Roboto, sans-serif;

  scrollbar-color: var(--palette3) transparent;

  a {
    color: var(--link-color);
    text-decoration: none;
    font-family: Rasputin, serif;
  }
}

ul {
  font-size: 16px;
  font-family: "Roboto Light", Arial, sans-serif;
  list-style-type: none;
}

select, input {
  color: var(--palette5);
  background-color: var(--background-color);
  font-size: 16px;
  padding: 8px;
  border: var(--palette3) solid 1px;
}

.forminput {
  color: var(--palette5);
  background-color: var(--background-color);
  border: var(--palette3) mid-blue solid 1px;
}

// Nav bar at the very top of the page, above the banner
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 40px;
  background-color: var(--palette3);
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  padding: 0 8px 0 8px;
  position: sticky;
  top: 0;
  z-index: 1;

  .nav-left {
    width: 200px;
    display: flex;
    justify-content: space-around;
  }

  .nav-right {
    width: 250px;
    display: flex;
    justify-content: space-around;
  }

  .nav-mobile {
    display: none;
    padding-right: 8px;
    color: var(--nav-text);
  }

  .nav-mobile-dropdown {
    position: absolute;
    width: calc(100% - 30px);
    transition: all 0.1s cubic-bezier(0.16, 1, 0.5, 1);
    transform: translateY(0.5rem);
    visibility: hidden;
    opacity: 0;
    z-index: 1;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 16px;

    margin: 215px auto auto -10px;
    padding: 16px;
    background-color: var(--palette3);

    a {
      width: 40%;
      text-transform: lowercase;
    }
  }

  .show {
    transform: translateY(0rem);
    visibility: visible;
    opacity: 1;
  }

  a, li {
    color: var(--nav-text);
    cursor: pointer;

    .fa-kit {
      color: var(--secondary);
    }
  }
}

.title {
  font-family: Rasputin, serif;
  font-size: 32px;
  font-weight: bold;
  color: var(--palette4);
}


//div.hidden {
//  display: none;
//}

.acct-list-outer {
  height: 100vh;
  width: 100vw;
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  position: fixed;
  top: 0;
  left: 0;
}

.sub-accounts-container {
  //background: $dark-blue;
  //position: absolute;
  //z-index: 1;
  transition: all 0.1s cubic-bezier(0.16, 1, 0.5, 1);
  //transform: translateY(0.5rem);
  //visibility: hidden;
  //opacity: 0;
  //margin-top: 29px
  margin: auto;
  width: 1150px;
}

//.sub-accounts-mobile {
//  transition: all 0.1s cubic-bezier(0.16, 1, 0.5, 1);
//  margin: auto;
//  width: 100%;
//}

.sub-accounts-list {
  //margin: 0 16px 16px 0;
  //padding: 16px 16px 0 0;
  padding: 16px;
  color: var(--palette5);
  font-family: Rasputin, serif;
  text-align: right;
  line-height: 1.5rem;
  background-color: var(--palette2);
  width: 200px;
  margin-left: 870px;
  margin-top: 40px;

  div {
    cursor: pointer;
  }
}

.show-acct-list {
  //transform: translateY(0rem);
  visibility: visible;
  opacity: 1;
  pointer-events: all;
}

// Fancy banner at the top of the page
.banner {
  background: no-repeat 90% 80%/500px url(https://files.jcink.net/uploads2/astonish/skin_diascia/spring.png), radial-gradient(circle 25rem at 70% 90%, var(--secondary), transparent);
  height: 500px;
  font-family: Jemina, serif;
  color: var(--secondary);
  position: relative;
  text-align: center;
  text-shadow: var(--text-shadow) 2px 2px 5px;

  h1 {
    color: var(--secondary);
  }


  #banner-title {
    position: relative;
    top: 10%;
    right: 23%;
  }

  #tagline {
    position: relative;
    top: 13%;
    right: 23%;
    font-family: Rasputin, serif;
    font-size: 1.7rem;
    font-style: italic;

  }
}

.mobile-banner {
  display: none;
}

// List of links within the banner to various parts of the site
.quick-links {
  border-top: var(--nav-text) solid 2px;
  border-bottom: var(--nav-text) solid 2px;
  width: 250px;
  padding: 10px 25px;
  position: relative;
  top: 10%;
  left: 20%;


  ul {
    text-align: right;
    font-size: 20px;
    font-family: Rasputin, serif;
    line-height: 1.8rem;
    color: var(--palette5);
  }

  #guidebook {
    color: var(--secondary);
    font-weight: bold;
  }
}

// Styling & layout helpers
%header-info-styling {
  background-color: var(--palette3);
  margin-bottom: 16px;
  padding: 16px;
}

.one-column {
  display: flex;
  flex-direction: column;
  margin: 16px;
}

.two-column {
  display: flex;
  justify-content: space-evenly;
  margin: 16px;
  gap: 16px;
}

.two-rows {
  flex-flow: column;
}

// Header below banner
// Welcome message and latest news
.header-background {
  background-color: var(--palette3);
  margin-bottom: 24px;
  border-radius: 0 0 8px 8px;
  display: flex;
  justify-content: space-evenly;

  .header-info {
    width: 50%;
    margin: 10px;
    color: var(--nav-text);
  }

  .welcome {
    padding: 8px 16px 8px 16px;
    text-align: justify;
    //border-right: $black-25 solid 2px;
    border-right: var(--nav-text) solid 2px;
  }

  #welcome-back {
    font-family: Rasputin, serif;
    font-weight: bold;
    text-transform: uppercase;
    color: var(--palette4);

    #wb-1 {
      color: var(--strat);
    }

    #wb-6 {
      color: var(--thia);
    }

    #wb-7 {
      color: var(--kris);
    }

    #wb-8 {
      color: var(--mnem);
    }

    #wb-9 {
      color: var(--soph);
    }

    #wb-2, #wb-3, #wb-5, #wb-14 {
      color: var(--guest);
    }

    #wb-4 {
      color: var(--admin);
    }

    #wb-13 {
      color: var(--mod);
    }
  }

  .latest-news {
    padding: 8px 16px 8px 0;

    #news-header {
      font-family: Rasputin, serif;
      font-size: 24px;
      font-weight: bold;
      color: var(--palette5);
      padding: 8px 0;
    }

    li {
      padding-bottom: 8px;
    }
  }

  #older-news {
    color: var(--older-news);
  }

  .news-date {
    font-family: Rasputin, serif;
  }
}


// Hide "you last visited..." text
.newstext {
  display: none;
}

// Background for forum area below all the header stuff
.forums-background {
  background-color: var(--palette1);
  width: 100%;
  display: flex;
  flex-direction: column;
}

// Current forum & its path
#navstrip {
  background-color: var(--palette2);
  margin-bottom: -38px;
  border-radius: 8px 8px 0 0;
  font-family: Rasputin, serif;
  font-size: 24px;
  color: var(--palette3);
  padding: 16px;

  a {
    color: var(--palette4);
  }
}

.category-header {
  font-family: Rasputin, serif;
  font-weight: bold;
  font-size: 40px;
  margin: auto;
  padding: 24px;
  background-color: var(--primary);
  color: var(--background-color);
  text-align: center;
  text-transform: uppercase;
}

.hide-subregion {
  display: none;
}

//// Main profile
//// change colors based on member group
//#group-strategos {
//  @include mainprof.main-profile-colors(var(--strat));
//}
//
//#group-thiarchos {
//  @include mainprof.main-profile-colors(var(--thia));
//}
//
//#group-mnemntia {
//  @include mainprof.main-profile-colors(var(--mnem));
//}
//
//#group-krisigos {
//  @include mainprof.main-profile-colors(var(--kris));
//}
//
//#group-sophist {
//  @include mainprof.main-profile-colors(var(--soph));
//}
//
//#group-validating, #group-Nereid, #group-inactive {
//  @include mainprof.main-profile-colors(var(--guest));
//}
//
//#group-Admin {
//  @include mainprof.main-profile-colors(var(--admin));
//}
//
//#group-Mod {
//  @include mainprof.main-profile-colors(var(--mod));
//}

.pkmn-type, .family-blood .type {
  font-family: Pixel, sans-serif;
  font-size: 24px;
  text-transform: uppercase;
  border: solid 1px;
  border-radius: 4px;
  padding: 4px 12px;
}

.family-blood .type {
  font-size: 20px;
}

.normal-type, .family-blood .t-normal {
  background-color: #464d53;
}

.grass-type, .family-blood .t-grass {
  background-color: #3b7e35;
}

.bug-type, .family-blood .t-bug {
  background-color: #506c19;
}

.electric-type, .family-blood .t-electric {
  background-color: #846e10;
}

.poison-type, .family-blood .t-poison {
  background-color: #773795;
}

.ghost-type, .family-blood .t-ghost {
  background-color: #323f67;
}

.dark-type, .family-blood .t-dark {
  background-color: #28252d;
}

.water-type, .family-blood .t-water {
  background-color: #245e99;
}

.psychic-type, .family-blood .t-psychic {
  background-color: #c34145;
}

.ice-type, .family-blood .t-ice {
  background-color: #39a292;
}

.steel-type, .family-blood .t-Steel {
  background-color: #35545f;
}

.fire-type, .family-blood .t-fire {
  background-color: #eb6200;
}

.fighting-type, .family-blood .t-fighting {
  background-color: #86233f;
}

.rock-type, .family-blood .t-rock {
  background-color: #9e884c;
}

.ground-type, .family-blood .t-ground {
  background-color: #8a4d2e;
}

.flying-type, .family-blood .t-flying {
  background-color: #3156a5;
}

.fairy-type, .family-blood .t-fairy {
  background-color: #a937a2;
}

.dragon-type, .family-blood .t-dragon {
  background-color: #053661;
}

//// Boards stats section at bottom of homepage
//#board-stats-layout {
//  display: flex;
//  margin: 4px;
//
//  #users-online {
//    display: flex;
//    flex-direction: column;
//    justify-content: space-between;
//    width: 50%;
//
//    #stats-links-layout {
//      display: flex;
//      justify-content: space-evenly;
//
//      .stats-links {
//        text-transform: lowercase;
//        display: flex;
//        justify-content: space-around;
//        text-align: center;
//        font-size: 24px;
//
//        li {
//          @extend .section-bg;
//          margin: 4px;
//          padding: 5px 10px;
//          //color: $light-blue;
//        }
//      }
//    }
//
//    #online-today, #currently-online {
//      flex-grow: 1;
//      margin: 4px;
//    }
//
//    .strategos {
//      color: var(--strat);
//    }
//
//    .thiarchos {
//      color: var(--thia);
//    }
//
//    .krisigos {
//      color: var(--kris);
//    }
//
//    .mnemntia {
//      color: var(--mnem);
//    }
//
//    .sophist {
//      color: var(--soph);
//    }
//
//    .validating, .inactive {
//      color: var(--guest);
//    }
//
//    .Admin {
//      color: var(--admin)
//    }
//
//    .Mod {
//      color: var(--mod);
//    }
//  }
//
//  // Newest member's hover image, name, and links
//  #new-member {
//    background-size: cover;
//    width: 317px;
//    margin: 5px;
//    display: flex;
//    flex-direction: column;
//    justify-content: space-between;
//    align-items: flex-end;
//
//    #buttons-group {
//      display: flex;
//      flex-direction: column;
//
//      .new-member-buttons {
//        background-color: var(--palette4);
//        padding: 7px;
//        margin: 5px;
//        font-size: 25px;
//        text-align: center;
//        width: 30px;
//        color: var(--text-color);
//      }
//    }
//
//    #new-member-text {
//      font-family: Rasputin, serif;
//      background-color: var(--palette4);
//      font-size: 25px;
//      padding: 8px 16px;
//      width: 280px;
//
//      a {
//        color: var(--palette3);
//      }
//    }
//  }
//
//  // Latest replies
//  #active-topics {
//    display: flex;
//    flex-direction: column;
//    flex-grow: 1;
//    width: 25%;
//    height: 500px;
//    overflow: auto;
//    scrollbar-color: var(--palette3) transparent;
//  }
//
//  #active-topics-title {
//    font-family: Rasputin, serif;
//    font-size: 32px;
//    font-weight: bold;
//    margin: 8px;
//    text-align: center;
//    color: var(--nav-text);
//  }
//
//  .topics-list {
//    margin: 4px;
//    padding: 8px;
//
//    .topic-title {
//      font-family: Rasputin, serif;
//      font-size: 24px;
//    }
//  }
//}

//#recent-topics {
//  display: none;
//}

//// Character group counter
//@mixin roster($color) {
//  font-family: Rasputin, serif;
//  text-transform: uppercase;
//  text-align: center;
//  font-size: 24px;
//  background-color: $color;
//  padding: 8px;
//  margin: 3px;
//  flex-grow: 1;
//  width: 20%;
//}
//
//#bottom-roster, #bottom-roster-mobile {
//  display: flex;
//  justify-content: space-evenly;
//
//  .strat {
//    @include roster(var(--strat));
//  }
//
//  .thia {
//    @include roster(var(--thia));
//  }
//
//  .kris {
//    @include roster(var(--kris));
//  }
//
//  .mnem {
//    @include roster(var(--mnem));
//  }
//
//  .soph {
//    @include roster(var(--soph));
//  }
//}

//#bottom-roster-mobile {
//  display: none;
//  order: 5;
//}

//#board-stats-mobile {
//  background-color: var(--palette3);
//  display: none;
//  height: 150px;
//  justify-content: flex-end;
//  order: 4;
//
//  #member-image-mobile {
//    img {
//      width: 150px;
//      margin-right: 32px;
//    }
//  }
//
//  #welcome-member-mobile {
//    align-self: center;
//    flex-grow: 1;
//    font-family: Rasputin, serif;
//    font-size: 24px;
//  }
//
//  #new-mem-links-mobile {
//    align-self: center;
//    flex-grow: 1;
//    font-size: 24px;
//  }
//
//  #stats-links-mobile {
//    align-self: center;
//    display: flex;
//    flex-direction: column;
//    gap: 8px;
//
//    .slm-buttons {
//      background: var(--palette2);
//      width: 35px;
//      font-size: 25px;
//      text-align: center;
//      padding: 20px;
//    }
//  }
//}

//.char-claims-list {
//  display: grid;
//  grid-template:
//    repeat(auto-fill, 45px)
//    / 1fr 1fr 1fr;
//  gap: 16px;
//  max-height: 500px;
//  overflow: auto;
//}

//.claims-header {
//  font-family: Rasputin, serif;
//  font-size: 24px;
//  font-weight: bold;
//  padding: 8px 16px;;
//  background-color: var(--palette3);
//  text-align: center;
//  align-content: center;
//}

//.claim-entry {
//  padding: 0 16px;
//
//  a.claim-strat {
//    color: var(--strat);
//  }
//
//  a.claim-thia {
//    color: var(--thia);
//  }
//
//  a.claim-kris {
//    color: var(--kris);
//  }
//
//  a.claim-mnemn {
//    color: var(--mnem);
//  }
//
//  a.claim-soph {
//    color: var(--soph);
//  }
//}

//.mini-prof-bottom {
//  display: flex;
//  justify-content: space-evenly;
//  gap: 16px;
//  background-color: var(--palette2);
//  padding: 16px;
//
//  .mpb-player-btns {
//    display: flex;
//    flex-direction: column;
//    gap: 16px;
//    font-family: Rasputin, serif;
//
//    .mp-played-by {
//      font-size: 32px;
//
//      b {
//        color: var(--thia);
//      }
//    }
//
//    .mp-links {
//      display: flex;
//      justify-content: space-evenly;
//      gap: 8px;
//
//      .mp-link-btns {
//        color: var(--thia);
//        border: solid 2px;
//        padding: 8px;
//      }
//    }
//  }
//}

.postlinksbar {
  display: none;
}

.button-large {
  color: var(--palette4);
  border: solid 2px;
  width: fit-content;
  padding: 8px;
  font-weight: bold;
}

#topic_open {
  background-color: var(--palette2);

  .maintitle {
    margin: 0;
    padding: 0 24px;
  }

  .tablepad {
    padding: 16px 24px;
  }
}

.bar {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin: 0 16px;
}

.jump-search-layout {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin: 8px 21px;
}

.maintitle {
  display: flex;
  flex-direction: column;
  font-family: Rasputin, serif;
  font-size: 24px;
  font-weight: bold;
  margin: 16px;
}

.topic-title {
  font-family: Rasputin, serif;
  font-size: 50px;
  font-weight: bold;
  text-transform: uppercase;
  color: var(--palette4);
}

.topic-desc {
  font-style: italic;
  font-size: 20px;
  color: var(--palette3);
  text-align: right;
}

#cat-14 {
  order: 2;
}

#cat-13 {
  order: 3;
}

#board-stats {
  order: 4;
}

#delcookiesrow {
  order: 5;
  align-self: center;
  padding: 8px;
}

/*****************
 * New Post Form
 *****************/

#posting-form {
  #post-icon-options, #upload-files, #upload-files-header, .pformleft {
    display: none;
  }

  .pformright {
    padding: 16px 24px;
  }

  #topic-title, #topic-desc {
    display: flex;
    align-items: center;

    td.pformleft {
      display: block;
      padding: 16px 24px;
      width: 150px;
    }
  }

  .maintitle {
    font-family: Jemina, serif;
    font-size: 56px;
    color: var(--palette3);
  }

  .pformstrip, #post-options-header {
    font-family: Rasputin, serif;
    font-weight: bold;
    font-size: 24px;
    background-color: var(--palette3);
    padding: 16px 24px;
  }

  #code-buttons {
    .pformright {
      padding: 16px 24px;

      #bbcode-buttons {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        gap: 8px;

        a {
          order: 2;
        }

        input {
          min-width: 40px;
          height: 40px;
          padding: 10px
        }

        select {
          height: 40px;
        }
      }

      #bbcode-buttons > br {
        display: none;
      }

      input[name=tagcount] {
        background: none;
        font-family: Rasputin, serif;
        font-size: 16px;
        font-weight: bold;
        color: var(--text-color);
        border: none;
      }

      input[name=helpbox] {
        display: none;
      }
    }
  }

  #enter-your-post {
    .pformright {
      display: flex;
      gap: 24px;

      #styles-templates-section {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        gap: 14px;
        width: 200px;

        .styles-templates-headers {
          font-family: Rasputin, serif;
          font-size: 20px;
          text-transform: uppercase;
        }

        .styles-templates-buttons {
          display: flex;
          flex-wrap: wrap;
          justify-content: flex-end;
          gap: 8px;
          text-transform: uppercase;

          input {
            text-transform: uppercase;
            font-size: 16px;
          }
        }

        a {
          text-align: right;
        }
      }

      textarea {
        flex-grow: 1;
        background-color: var(--background-color);
        border: solid 2px var(--palette3);
        color: var(--text-color);
      }
    }
  }

  #post-options {
    display: flex;
    flex-direction: column;
  }

  .post-form-submit {
    padding: 24px;

    input {
      font-family: Rasputin, serif;
      font-weight: bold;
      text-transform: uppercase;
      padding: 16px 24px;
    }
  }
}

#topic-summary .pformstrip {
  display: none;
}

.topic-summary-header {
  font-family: Rasputin, serif;
  font-weight: bold;
  font-size: 24px;
  background-color: var(--palette3);
  padding: 16px 24px;
}

#topic-summary {
  width: calc(100% - 64px);
  margin: auto;
  padding: 32px;

  .pformstrip {
    background: none;
    text-align: center;
    font-size: 20px;

    a {
      color: var(--palette3);
    }
  }

  td {
    padding: 16px 0;
  }
}

/**********************************
 * Screen & Mobile Responsiveness *
 **********************************/

@media screen and (max-width: 1150px) {
  body {
    width: 100%;
  }

  .sub-accounts-container {
    width: 100%;
  }

  .sub-accounts-list {
    margin: 40px 5% auto auto;
  }
}

@media screen and (max-width: 960px) {
  .banner {
    background: no-repeat 100% 80%/450px url(https://files.jcink.net/uploads2/astonish/skin_diascia/spring.png), radial-gradient(circle 25rem at 70% 90%, #F25C68, transparent);

    #banner-title {
      right: 24%;

      h1 {
        font-size: 4.5rem;
      }
    }

    .quick-links {
      left: 10%;
    }

    #tagline {
      font-size: 1.5rem;
      right: 23%;
    }
  }

  .forum-layout {
    flex-direction: column;
  }

  #forum-1 {
    flex-direction: column;

    h1 a {
      font-size: 6.5rem;
    }

    #handbook-desc {
      text-align: left;
    }
  }

  #forum-3, #forum-5, #forum-6, #forum-7, #forum-9, #forum-10, #forum-12, #forum-13, #forum-37, #forum-41, #forum-42, #forum-43, #forum-44, #forum-45 {
    width: calc(100% - 48px);
  }

  .forum-row-layout {
    flex-direction: column;

    .forum-desc {
      width: 100%;
    }

    .forum-last-poster-row {
      align-self: auto;
      flex-direction: row;
      justify-content: space-between;
      text-align: left;
    }
  }

  .subregion-desc {
    flex-direction: column;

    .subregion-info {
      width: 100%;
    }

    .region-types {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      //justify-content: space-between;
      gap: 16px;

      ul {
        width: 275px;
      }
    }
  }

  #pkmn-inventory {
    section {
      #pkmn-details {
        flex-wrap: wrap;
      }

      #pkmn-moveset {
        width: auto;
        justify-content: center;

        li {
          width: 40%;
        }
      }
    }
  }

  .dir-player {
    width: 35%;
  }

  .topic-layout {
    flex-direction: column;
  }

  div[id*=topic-]:not(#topic-options) {
    width: calc(100% - 32px);
  }

  .goto-firstunread {
    display: none;
  }

  .topic-buttons-layout .button-large, .topic-btn-background .button-large {
    font-size: 12px;
  }

  .hover-img-player-info {
    display: none;
  }

  #board-stats {
    display: none;
  }

  #board-stats-mobile {
    display: flex;
  }

  #bottom-roster-mobile {
    display: flex;
  }
}

@media screen and (max-width: 414px) {
  nav {
    border-radius: 0;

    .nav-right {
      display: none;
    }

    .nav-mobile {
      display: block;
    }
  }

  .banner {
    display: none;
  }

  .mobile-banner {
    display: flex;
    flex-direction: column;
    text-shadow: black 2px 2px 5px;
    background-color: var(--palette2);

    .mobile-title {
      background: colors.$secondary url(https://files.jcink.net/uploads2/astonish/skin_diascia/spring.png) no-repeat 105% 75%/130px;
      font-family: Jemina, serif;
      font-size: 56px;
      font-weight: bold;
      color: white;
      padding: 0 16px;
      text-shadow: colors.$secondary-darker 2px 2px 5px;
      border-radius: 0 0 10px 10px;
    }

    .mobile-quick-links {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 8px;
      font-size: 24px;
      padding: 16px;
    }

    .mobile-tagline {
      color: colors.$secondary;
      font-family: Rasputin, serif;
      font-size: 20px;
      font-style: italic;
      text-align: center;
      padding-top: 8px;
    }
  }

  .sub-accounts-list {
    margin: 215px 0 0 0;
    text-align: left;
  }

  .header-background {
    flex-direction: column;

    .header-info {
      width: auto;
    }

    .welcome {
      border-right: none;
      border-bottom: colors.$black-25 solid 2px;
      padding-bottom: 24px;
    }

    .latest-news {
      padding: 8px 16px;
    }
  }

  #navstrip {
    font-size: 16px;
  }

  .category-header {
    font-size: 1.5rem;
  }

  div[id^=forum-] .forum-title a {
    font-size: 2rem;
  }

  .subregions-toggle {
    gap: 24px;

    .subregions-styling {
      font-size: 1.2rem;
    }
  }

  #forum-1 {
    .handbook-title a {
      font-size: 3rem;
      line-height: 4rem;
    }

    #handbook-desc {
      font-size: 16px;
    }
  }

  .subregion-title {
    font-size: 2.5rem;
  }

  .pkmn-type {
    font-size: 20px;
  }

  #board-stats-mobile {
    height: 100px;

    #member-image-mobile img {
      width: 100px;
      margin-right: 16px;
    }

    #welcome-member-mobile {
      font-size: 16px;
    }

    #new-mem-links-mobile {
      .new-member-buttons {
        display: flex;
        flex-direction: column;
        font-size: 16px;
        margin: 8px 0;
      }
    }

    #stats-links-mobile {
      .slm-buttons {
        width: 20px;
        font-size: 16px;
        padding: 12px;
      }
    }
  }

  div[id*=topic]:not(#topic-options) {
    width: 92%;
  }

  .topic-title {
    font-size: 2rem;
  }

  #posting-form {
    #topic-title, #topic-desc {
      flex-direction: column;
      align-items: flex-start;

      .pformleft {
        padding-bottom: 8px;
      }

      .pformright {
        padding: 8px 16px;

        .forminput {
          width: 360px;
        }
      }
    }

    #enter-your-post .pformright {
      padding: 0;
      flex-direction: column;

      #styles-templates-section {
        align-items: flex-start;
        width: auto;
        padding: 8px;

        .styles-templates-buttons {
          justify-content: flex-start;
        }
      }

      textarea {
        width: 100%;
      }
    }
  }

  .mini-prof-top {
    display: none;
  }

  .mini-prof-mobile {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 16px;

    img {
      height: 100px;
      width: auto;
    }

    .mp-name {
      align-self: flex-end;
      width: 300px;

      span {
        color: var(--text-color);
        font-size: 1.5rem;
        font-weight: bold;
      }
    }
  }

  .post-buttons {
    a {
      margin: 0 6px;
    }

    .post-row-btn .hidden-inline {
      display: none;
    }
  }

  .post-content {
    max-width: 414px;
  }

  .simple-post, .basic-post, .sm-icon-post, .banner-post, .font-icon-post {
    margin: 0 50px;
  }

  #CODE {
    width: 225px;
    overflow-x: auto;
  }

  .char-claims-list {
    max-width: 410px;

    .claims-header {
      font-size: 20px;
    }
  }

  #AST-plot-page {
    #plotter-links {
      flex-wrap: wrap;
      row-gap: 0;
    }

    .plotter-char-body {
      flex-direction: column;
      gap: 4px;

      p {
        width: auto;
      }

      aside {
        width: auto;
      }
    }
  }

  #hemitheo-bloodline {
    .family-blood {
      width: 80%;
    }
  }

  #ucpmenu {
    display: none;
  }

  #ucpcontent {
    padding: 16px;

    .maintitle {
      font-size: 1.4rem;
    }

    form {
      //width: 250px;
      width: auto;
    }

    .pformstrip {
      width: 400px;
      font-size: 1rem;
    }

    table {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      width: calc(414px - 40px);

      td {
        width: calc(414px - 32px);
      }

      .dlight {
        //display: flex;
        flex-wrap: wrap;
        //justify-content: space-between;
        //align-items: center;
        gap: 24px;
        //margin-bottom: 16px;
        //background-color: $dark-blue;
        padding: 8px;

        td {
          width: auto;
        }
      }

      .alert-read {
        flex-wrap: nowrap;
        gap: 12px;
      }

      .alert-read {

      }
    }

    div:has(> i) {
      width: calc(414px - 40px);
    }

    tr:has(> th.titlemedium) {
      display: flex;
      justify-content: space-between;
    }

    img {
      height: 25px;
      width: auto;
    }

    tr[id*=field_] {
      display: flex;
      flex-direction: column;
      gap: 8px;
      margin: 16px 0;

      .pformleft {
        width: 350px;
      }

      input {
        width: 340px;
      }

      textarea {
        width: 357px;
      }
    }

    tr[id*=field-] {
      display: flex;
      flex-direction: column;
      gap: 8px;
      margin: 16px 0;

      input {
        width: 340px;
      }

      textarea {
        width: 350px;
      }
    }
  }

  #guide-container {
    h3 {
      font-size: 3.5rem;
    }

    #guide-links {
      display: flex;
      gap: 8px;
      overflow-x: auto;

      ul {
        border-radius: 0;
        min-width: 150px;
      }
    }

    #guidebook-info-container {
      margin: auto;
    }
  }

  #delcookiesrow {
    font-size: 12px;
  }
}

/* ucp/store menu toggle */
.store-menu-mobile {
  background-color: var(--palette3);
  padding: 16px;
  font-family: Rasputin, serif;
  font-weight: bold;
  font-size: 20px;
  text-align: center;
}

.mobile-menu-content {
  background-color: var(--palette3);
  padding: 16px 32px;
  line-height: 24px;

  .pformstrip {
    font-family: Rasputin, serif;
    font-size: 24px;
  }

  p {
    line-height: 24px;
  }

  a {
    font-size: 20px;
  }
}

.hide-menu {
  display: none;
}

@media screen and (min-width: 415px) {
  .store-menu-mobile, .mobile-menu-content {
    display: none;
  }
}